---
layout: base
---
    <header>
      <ul class="pre-title breadcrumps">
        {{#each path}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
      <h1>{{title}}</h1>
    </header>

    {{{content}}}
