---
layout: base
---
    <header>
      <ul class="pre-title breadcrumps">
        {{#each path}}
        <li><a href="{{ this.[1] }}">{{ this.[0] }}</a></li>
        {{/each}}
      </ul>
    </header>

    {{{content}}}
